// 引入清除默认样式
@import './reset.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './variable.module.scss';

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: $background-color;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: $menu-background;
    border-radius: 6px;
}

a {
    text-decoration: none;
}