// 项目全局scss变量 #F1F1FB #EA4C3C #393A62 #9292AE #DBA09E #747399
$background-color: #FFF;
$text-color: #9292AE;
$active-color: #EA4C3C;
// 左侧菜单的宽度
$base-menu-width: 260px;
$base-menu-hiden-width: 60px;
$base-menu-background: #F1F1FB;

// 顶部导航的高度
$base-tabbar-height: 40px;

$base-logo-height: 60px;