html {
    // 黑暗主题
    &.dark {
        --text-color: #FFF;
        --background-color: #000;
        --menu-background: #24292E;
        --hover-color: #2B3036;
        --active-color: #B392F0;
    }

    // 默认主题
    &.light {
        --text-color: #9292AE;
        --background-color: #FFF;
        --menu-background: #F1F1FB;
        --hover-color: #F3F3FB;
        --active-color: #4DABFF;
    }
}

$text-color: var(--text-color);
$background-color: var(--background-color);
$menu-background: var(--menu-background);
$hover-color: var(--hover-color);
$active-color: var(--active-color);


// 左侧菜单的宽度
$base-menu-width: 260px;
$base-menu-hiden-width: 60px;

// 顶部导航的高度
$base-tabbar-height: 70px;
$base-nav-height: 40px;
$base-logo-height: 60px;
$tag-view-height: 30px;